body{
    background-image:url("../project1_muse/free-img/20151130162345_b53343.jfif") !important;
}
.sum{
    margin:0 auto;
    width:65%;
    background: #f4fff8;
}
.sum img{
    width:90%;
}
span.div-date{

    margin-left:5px;
}
button{
    background: #f00;
    width:174px;
    height:35px;
    border-radius:3px;
}
a,a:hover{
    text-decoration: none;
}